<div id="full-width-div" class="">

<h1>検索ページ</h1>
  
<div class="container">
 <div class="row">
    <div class="col-md-3">
      <%= form_tag(url_for(:action => 'index'), :id => "result_form") do %>
        <div>
          start: <input type="text" name="search[:start_dates]" class="datepicker form-control" value="<%= params[:search][:start_dates] %>"> 
        </div>
        <div>
          finish: <input type="text" name="search[:finish_dates]" class="datepicker form-control" value="<%= params[:search][:finish_dates] %>"> 
        </div>
        <div>
          目的地: <input type="text" name="search[:place]" class=" form-control" value="<%= params[:search][:place] %>"> 
        </div>
        <div>
          予算: <input type="integer" name="search[:budget]" class=" form-control"  value="<%= params[:search][:budget] %>"> 
        </div>
        <div>
          人数: <input type="integer" name="search[:number]" class=" form-control"  value="<%= params[:search][:number] %>"> 
        </div>
        <%= submit_tag "検索する" %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <% if @plans %>
          <% @plans.each do |plan| %>
            <div class="col-md-4 border-around">
              <%= render partial: "item", locals:{plan: plan} %>
              <%= link_to 'ユーザ詳細', controller:"users", action:"show", id: plan.user_id%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>


