<div id="full-width-div" class="">

<h1>検索ページ</h1>
  
<div class="container">
 <div class="row">
    <div class="col-md-6">
      <%= form_tag(url_for(:action => 'index'), :id => "result_form") do %>
        <div>
          start: <input type="text" name="search[:start_dates]" class="datepicker" value="<%= params[:search][:start_dates] %>"> 
        </div>
        <div>
          予算: <input type="integer" name="search[:budget]"  value="<%= params[:search][:budget] %>"> 
        </div>
        <%= submit_tag "Show!" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= @plans.length if @plans %>
    </div>
  </div>
  <div class="row">
    <% if @plans %>
      <% @plans.each do |plan| %>
        <div class="col-sm-4 border-around">
          <%= render partial: "item", locals:{plan: plan} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

 <a href="#" id='background'>Paint it red</a>

 </div>


