new plan

<%= form_for @plan do |f| %>
	<div class="field">
		<%= label :plan_date %>
		<%= f.text_field :plan_date, autofocus: true, placeholder: "date"  %>
	</div>
	<div class="field">
		<%= label :plan_date %>
		<%= f.text_field :plan_date, autofocus: true, placeholder: "date"  %>
	</div>
	<div class="field">
		<%= label :plan_date %>
		<%= f.text_field :plan_date, autofocus: true, placeholder: "date"  %>
	</div>
<% end %>
