<div id="full-width-div" class="lightgreen-bg">
<div class="container white-bg">
<div class="container limit-width">



<h1>プランを登録</h1>
<div class="alert alert-success" role="alert">
	お決まりの内容のみで結構ですので、入力お願いいたします。
</div>
<%= form_for @plan do |f| %>
	<%= f.fields_for :plan_date, @plan.plan_date do |p| %>
		<%= p.label :予定日 %>
		<div class="form-inline">
			<%= p.text_field :start_dates, class: 'form-control datepicker',placeholder: "出発日" %>
			〜
			<%= p.text_field :finish_dates, class: 'form-control datepicker',placeholder: "帰宅日"  %>
		</div>	
	<% end %>

	<%= f.fields_for :plan_place, @plan.plan_place do |p| %>
		<div class="form-group">
			<%= p.label :行き先 %>
			<%= p.text_field :place, class: 'form-control',
			placeholder: "例) 岩手県" %>
		</div>
	<% end %>

	<%= f.fields_for :plan_num_of_customer, @plan.plan_num_of_customer do |p| %>
		<div class="form-group">
			<%= p.label :人数 %>
			<%= p.number_field:number, class: 'form-control' %>
		</div>
	<% end %>

	<%= f.fields_for :plan_budget, @plan.plan_budget do |p| %>
		<div>
			<%= p.label :予算 %>
			<%= p.number_field:budget, class: 'form-control' %>
		</div>
	<% end %>

	<%= f.fields_for :plan_detail, @plan.plan_detail do |p| %>
		<div>
			<%= p.label :自由欄 %>
			<%= p.text_area :detail, class:'form-control', rows:'3', 
			placeholder: "ご要望、ご希望はこちら
			例）千葉で、家族で海釣りがしたい。" %>
		</div>
	<% end %>




	<%= f.submit  "プランを投稿" , class:"btn btn-large btn-primary" %>

<% end %>
</div>
</div>
</div>
