<!DOCTYPE html>
<html>
<head>
  <title>旅ポスト</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% elsif !notice && !alert %> 
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>" >
            <%= message %>
          </div>
        <% end %>
      <% end %>
    
    	<%= yield %>
    </div>
     <!--<%= render partial: 'layouts/footer' %> -->
</body>

</html>